<div id="nav">
  <div id="minilogo_cell">
    <img src="/assets/images/typer200x200.svg"
      /
      id="minilogo_img">
  </div>
  <div id="nav_links_cell">
    <a href="{{site.url}}{{site.baseurl}}/"
      class="nav_el">About</a> ·
    <a href="{{site.url}}{{site.baseurl}}/blog"
      class="nav_el">Blog</a> ·
    <a href="{{site.url}}{{site.baseurl}}/projects/"
      class="nav_el">Projects</a>
  </div>
</div>

<script>
  // When the user scrolls the page, execute myFunction
  window.onscroll = function () { myFunction() };
  var faded_in = false;
  // Get the navbar
  var nav = document.getElementById("nav");
  var minilogo = document.getElementById("minilogo_img");
  // Get the offset position of the nav
  var sticky = nav.offsetTop;
  var logo = document.getElementById("logo");
  function myFunction() 
  {
    if (window.pageYOffset - logo.offsetHeight + logo.offsetTop >= sticky && !(faded_in)) 
    {
      minilogo.classList.remove("fade_out");
      minilogo.classList.add("fade_in");
      faded_in = true;
    }
    else 
    {
      if (!(window.pageYOffset - logo.offsetHeight + logo.offsetTop >= sticky))
      {
        minilogo.classList.remove("fade_in");
        minilogo.classList.add("fade_out")
        faded_in = false;
      }
    }
  }

</script>