/* General rules: body, h1...h4, links*/
	body	{
		margin-top: 0px;
		padding:0;
		font-family: 'Nunito', serif;
		font-size:100%;
		line-height:150%;
	}

	a:link, a:visited	{
		text-decoration: none;
		color:#000
	}

	a:hover	{
		text-decoration: underline;
	}

	/*Headers: h1,h2,h3,p*/
	h1::first-letter{
		color: #009688;
	}

	h2::first-letter{
		color: #009688;
	}

	h3::first-letter{
		border-bottom: 2px solid #009688;
		position: absolute;
		display: inline-block;
		line-height: 85%;
	}
	h3 a:hover::first-letter{
		color: #009688;
		border-bottom: none;
	}

/*Classes for special attributes*/
	.color_teal{
		color: #009688;
		font-weight: bolder;
	}

	.font_lighter{
		font-weight: lighter;
	}

/*Specific page contents*/
	
	#logo	{
		text-align:center;
	}
	#logo img {
		max-width: 12%;
	}

	#nav {
		width: 100%;
		text-align:center;
		-webkit-box-shadow: 0px 8px 7px -6px rgba(0,0,0,0.3);
		-moz-box-shadow:0px 8px 7px -6px rgba(0,0,0,0.3);
		box-shadow: 0px 8px 7px -6px rgba(0,0,0,0.3);
		background-color: white; 
		position:sticky;
		position: -webkit-sticky; /* Safari */
		top : 0;
		display: grid;
		grid-template-columns: 5% 10% 70% 10% 5%;
		grid-template-rows: 3em;
		align-items: center;
		
	}
	#nav a:hover{
		text-decoration: none;
		border-bottom: 1px solid #009688;
		display: inline-block;
		line-height: 0.85;
	}
	#minilogo_cell{
		grid-column-start:2;
		background-color: white;
		text-align: center;
	}
	#minilogo_img{
		display: block;
		max-width: 60%;
		opacity: 0;
	}
	.fade_in{
		opacity: 1 !important;
  		transition: opacity 1000ms !important;
	}
	.fade_out{
		opacity: 0 !important;
		transition: opacity 1000ms !important;
	}
	#nav_links_cell{
		grid-column-start: 3;
		text-align: center;
		display: inline-block;
		align-self: middle;		
	}
	.nav_el{
		padding: 0px 2%;
	}
	
	
	#main {
		width: 50%;
		margin: 0 auto;
	}

	#content-left {
		text-align:left;
		margin:auto;
		padding-top:5px;
		margin-bottom:20px;
		padding-bottom:20px;
	}
	#content-left a:hover h3::first-letter{
		border-bottom: none;	
		margin: 0px 1px 0px 0px;
		padding: 0px 4px 0px 4px;
		border-radius: 5px;
		color:white;
		background-color: #009688;
		}
	
	#content-left p a:link, #content-left p a:visited{
		text-decoration: underline;
		color:cornflowerblue;
	}
	#content-left a:hover{
		text-decoration: none !important;
	}
	
	#content { /*seems unused...*/
		text-align:center;
		margin:auto;
		margin-top:20px;
		padding-top:20px;
		margin-bottom:20px;
		padding-bottom:20px;
	}

	#post-short h3, #post h2	{
		margin-bottom: 0px;
	}

	#post-short i	{
		font-size:0.8em;
		color: grey;
	}

	#post i	{
		font-size:0.9em;
		color: grey;
	}

	#categories a, #categories a:link, #categories a:visited {
		background-color: grey;
		text-decoration: none;
		padding: 0.1em 0.5em 0.1em 0.5em;
		border-radius: 25px;
	}

	#categories a:hover {
		text-decoration: none;
		background-color: #009688;
		color: white;

	}

	#footer {
		text-align:center;
		margin:auto;
		font-size:0.8em;
		margin-bottom:10px;
		padding-bottom:10px;
		border-top: 1px solid rgba(0,0,0,0.3);
	}

	@media screen and (max-width: 850px){
		#main {
			width: auto;
			padding: 0% 5% 0% 5%;
		}
	}
/* Screen size specific settings */
	/* @media screen and (max-width: 850px) {
		#main {
			width: auto;
			margin: 0 auto;
			padding: 10px;
		}

		#logo, #nav, #content-left,	#footer {
			display: block;
			width: 100%;
		}

		#logo img {
			max-width: 80%;
		}

		#nav {
			font-size: 2em;
		}

		h2 {
			font-size: 3em;
		}

		h3 {
			font-size: 2em;
		}

	}

	@media screen and (max-width: 400px) {
		#main {
			width: auto;
			margin: 0 auto;
			padding: 10px;
		}

		#logo, #nav, #content-left,	#footer {
			display: block;
			width: 100%;
		}

		#logo img {
			max-width: 80%;
		}

		#nav {
			font-size: 1.1em;
		}

		h2 {
			font-size: 2em;
		}

		h3 {
			font-size: 1.5em;
		}

	}
 */
